table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

td {
    vertical-align: top;
    text-align: left;
}

.header {
    border: 1px solid green;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    width: fit-content;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.leftColumn {
    width: 200px;
}

.leftColumn p {
    margin: 5px 0px;
}

.quest {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    white-space: pre-line;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    text-align: center;
    width: 85%;
}
