a {
    color: #571014;
    text-decoration: none;
    text-shadow: 0px 0px 0px transparent;
    transition: text-shadow 0.75s ease-in-out;
}

a:visited {
    color: #571014;
    text-decoration: none;
}

a:hover {
    color: #571014;
    text-decoration: none;
    text-shadow: 0px 0px 15px black;
}

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Alone_in_the_unspoilt_wilderness_%28Unsplash%29.jpg/1280px-Alone_in_the_unspoilt_wilderness_%28Unsplash%29.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: cursive;
    font-size: 16pt;
}

h4 {
    margin-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

td {
    vertical-align: top;
    text-align: left;
}

.header {
    font-size: 20pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    width: fit-content;
}

.headshot {
    float: right;
    width: 40%;
    margin: 10px;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.leftColumn {
    width: 200px;
}

.leftColumn p {
    margin: 5px 0px;
}

.placeDataLeft {
    font-weight: bold;
}

.placeTable {
    border: 1px solid darkgrey;
    float: right;
    margin-left: 20px;
    width: 40%;
}

.quest {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    white-space: pre-line;
}

.wrapper {
    background: url("/img/parchment.jpg");
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 400px;
    padding: 15px;
    text-align: center;
    width: 85%;
}
