<div style="clear:both">
    <h2 style="margin-bottom:0px">{{ page.title }}</h2>
    <a href="/index.html">Home</a> - <a href="/characters.html">Characters</a> - <a href="/groups.html">Groups</a> - <a href="/places.html">Places</a> - <a href="/culture.html">Culture</a> -

    <div class="dropdown">
        <p>DM Zone</p>
        <div class="dropdown-content">
            <a href="/dm/timeline.html">Timeline</a>
            <a href="/dm/miniquests.html">Miniquests</a>
            <a href="/dm/campaigns.html">Campaigns</a>
        </div>
    </div>
</div>
