<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="wrapper">
            {% include header.html %}
            
            <table class="twoColumn">
                <tr>
                    <td class="leftColumn">
                        <h4>Books</h4>
                        {% for book in site.books %}
                            <p><a href="{{ book.url }}">{{ book.title }}</a></p>
                        {% endfor %}
                    </td>

                    <td class="rightColumn">
                        {% if page.title != "Culture" %}
                            <h3>{{page.title}}</h3> <em>By {{ page.author }}</em>
                        {% endif %}
                        {{ content }}
                    </td>
                </tr>
            </table>
            
            {% include footer.html %}
        </div>
    </body>
</html>