<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="wrapper">
            {% include header.html %}
            
            <table class="twoColumn">
                <tr>
                    <td class="leftColumn">
                        {% assign sorted_places = site.places | group_by: "region" | sort: "title" %}
                        
                        {% for group in sorted_places %}
                            <h4>{{ group.name }}</h4>

                            {% for place in group.items %}
                        
                                <p><a href="{{ place.url }}">{{ place.title }}</a></p>

                            {% endfor %}
                        
                        {% endfor %}
                    </td>

                    <td class="rightColumn">
                        {{ content }}
                    </td>
                </tr>
            </table>
            
            {% include footer.html %}
        </div>
    </body>
</html>